*~
*.swp
*.tar.bz2
*.tar.gz
*.7z
*.pyc
*.po~
*.zip
*.exe
*.dmg
!CDM v2.10.00 WHQL Certified.exe
!dpinst32.exe
!dpinst64.exe
!avrdude.exe
*.deb
*.ini
*.idea
*.ply
*.db
pkg/win32/dist*
deb_dist/*
win_dist/*
dar_dist/*
_site
build/
dist/
src/Horus.egg-info/
horus.egg-info/
horus.log
version
doc/readthedocs/_build
