*~
*.swp
*.tar.bz2
*.tar.gz
*.7z
*.pyc
*.po~
*.zip
*.exe
!CDM v2.10.00 WHQL Certified.exe
!dpinst32.exe
!dpinst64.exe
!avrdude.exe
*.deb
*.ini
*.idea
*.ply
*.db
pkg/linux/debian_*/usr/share/horus*
pkg/linux/debian_*/usr/local/*
pkg/win32/dist*
LIN/*
WIN/*
